<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IhorYu</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <link href="../static/css/resume.min.css" rel="stylesheet">
    <link rel="icon" href="../static/img/favicon.png" type="image">.

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/img/profile.jpg" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#projects">My Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#Certifications">Certifications</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">Ihor
                <span class="text-primary">Yukhnovskyi</span>
            </h1>
            <div class="subheading mb-5">
                <a href="mailto:name@email.com">ihoryukhnovskyi@gmail.com</a>
            </div>
            <p>Hello, my name is Ihor</p>
            <p class="mb-5">
                I'm a self-taught software developer from Ukraine, Kharkiv. I like sitting behind a computer desk with
                my headphones on trying to bring ideas to life.
                I have been working on small to mediums sized projects for the last 1 year.</p>
            <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/ihor-yukhnovskyi-37a227253/" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/IhorYu" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Django Multi Vendor Restaurant - The Real Django Experience</h3>
                    <div class="subheading mb-3">Python Django Multi-vendor Restaurant Marketplace website with location
                        based search, nearby restaurants.
                    </div>
                    <ul>
                        <li>PostgreSQL Database Configuration</li>
                        <li>ManyToMany Relationships</li>
                        <li>Custom user model, Media files & Django signals</li>
                        <li>Cart functionalities with AJAX request</li>
                        <li>Get user's current location & show nearby restaurant on homepage</li>
                        <li>Implement Google Autocomplete field</li>
                        <li>Token verification & Email configuration</li>
                        <li>Implement PayPal payment gateway</li>
                        <li>Integrate Email Templates</li>
                    </ul>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">October 2022 - November 2022</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Site on Django. Data collection service.</h3>
                    <div class="subheading mb-3">A full-fledged service built on Django 3. Collection of data about
                        vacancies from open sources according to the specified parameters.
                    </div>
                    <ul>
                        <li>Python, Django</li>
                        <li>PostgreSQL</li>
                        <li>Beautiful Soup</li>
                        <li>Asyncio</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 2022 - October 2022</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">100 Days of Code: The Complete Python Pro Bootcamp for 2022</h3>
                    <div class="subheading mb-3">Master Python by building 100 projects in 100 days. Learn data science,
                        automation, build websites, games and apps!
                    </div>
                    <ul>
                        <li>Automation, game, app and web development, data science and machine learning all using
                            Python.
                        </li>
                        <li>Selenium, Beautiful Soup, Request, Flask, Pandas, NumPy, Scikit Learn, Plotly, and
                            Matplotlib.
                        </li>
                        <li>GUIs and Desktop applications with Python</li>
                        <li>Fully fledged websites and web apps with Python</li>

                    </ul>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">March 2022 - August 2022</span>
                </div>
            </div>

        </div>

    </section>


    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3 ">Programming Languages &amp; Tools</div>

            <ul class="list-inline list-icons text-center">
                <li class="list-inline-item skill">
                    <i class="devicon-python-plain-wordmark colored"></i></li>
                <li class="list-inline-item skill">
                    <i class="devicon-django-plain-wordmark colored"></i>
                </li>
                <li class="list-inline-item skill">
                    <i class="devicon-flask-original-wordmark colored"></i>
                </li>
                <li class="list-inline-item skill">
                    <i class="devicon-postgresql-plain-wordmark colored"></i>
                </li>
                <li class="list-inline-item skill">
                    <i class="devicon-sqlalchemy-original-wordmark colored"></i>
                </li>
                <li class="list-inline-item skill">
                    <i class="devicon-html5-plain-wordmark colored"></i>
                </li>
                <li class="list-inline-item skill">
                    <i class="devicon-css3-plain-wordmark colored"></i>
                </li>
                <li class="list-inline-item skill">
                    <i class="devicon-bootstrap-plain-wordmark colored"></i>
                </li>
                <li class="list-inline-item skill">
                    <i class="devicon-git-plain-wordmark colored"></i>
                </li>
            </ul>

        </div>
    </section>

    <section class="resume-section col-md-12 d-flex flex-column" id="projects">
        <div class="my-auto col-lg-12 col-md-12 col-sm-12">
            <h2 class="mb-5">My Projects</h2>

            <div class="row">
                <div class="card text-center mx-auto my-3" style="width: 18rem;">
                    <img class="card-img-top" src="../static/img/blog.png" alt="Blog">
                    <div class="card-body">
                        <h5 class="card-title">Blog</h5>
                        <p class="card-text">This is a blog built with Flask, you can register in it and leave comments
                            on posts, the administrator can publish new posts, edit, delete old posts
                        </p>
                        <a href="https://ihoryu-flask-blog.herokuapp.com/" class="btn btn btn-outline-light my-4">Check
                            it out</a>
                    </div>
                </div>

                <div class="card text-center mx-auto my-3" style="width: 18rem;">
                    <img class="card-img-top" src="../static/img/job_finder.png" alt="Job Finder">
                    <div class="card-body">
                        <h5 class="card-title">Job Finder</h5>
                        <p class="card-text">The service built with Django, it collects vacancies from job search sites
                            according to the specified parameters and displays them, it is possible to send new
                            vacancies to e-mail</p>
                        <a href="http://job-finder-ua.herokuapp.com/" class="btn btn-outline-light">Check it out</a>
                    </div>
                </div>


                <div class="card text-center mx-auto my-3" style="width: 18rem;">
                    <img class="card-img-top" src="../static/img/food_online.png" alt="FoodOnline">
                    <div class="card-body">
                        <h5 class="card-title">FoodOnline</h5>
                        <p class="card-text">The marketplace built with Django, restaurants can register here and post
                            their menu and opening hours, customers can find restaurants near them and order food</p>
                        <a href="https://www.food-online.shop/" class="btn btn-outline-light">Check it out</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="Certifications">
        <div class="my-auto">
            <h2 class="mb-5">Certifications</h2>
            <ul class="list-inline list-icons text-center">
                <li class="list-inline-item">
                    <a href="https://www.udemy.com/certificate/UC-ca51ef43-494d-4029-9256-55946ffe4fff/" target="_blank"><img
                            class="certification-img"
                            src="https://udemy-certificate.s3.amazonaws.com/image/UC-ca51ef43-494d-4029-9256-55946ffe4fff.jpg?v=1665526960000"
                            alt="100 Days of code" width="49%"></a>

                    <a href="https://www.udemy.com/certificate/UC-9ffc6402-5773-4354-a44a-60f9b4739108/" target="_blank"><img
                            class="certification-img"
                            src="https://udemy-certificate.s3.amazonaws.com/image/UC-9ffc6402-5773-4354-a44a-60f9b4739108.jpg?v=1666576696000"
                            alt="Django Multi Vendor Restaurant" width="49%"></a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-muted text-uppercase mt-3">
                    <p>{{ year }}. Developed By <a
                            href="https://www.linkedin.com/in/ihor-yukhnovskyi-37a227253/">Ihor Yukhnovskyi</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

</div>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/resume.min.js"></script>

</body>

</html>
